

<p> Total Buyings: Rs: <%= buyings %> - <span class='badge'><%= b_count %> plots</span></p>
<p> Total Sellings: RS: <%= sellings %> - <span class='badge'><%= s_count %> plots</span></p>
<p> Net (sellings - buyings): Rs: <span class='badge'><%= sellings - buyings %></span> </p>