<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">

    <div class="col-lg-12 col-md-6">
        <div class="well">
            <p>Total Sellings today: Rs: <%= tot_sell = Transaction.daily_sellings %></p>
            <p>Total Buyings today: Rs: <%= tot_buy = Transaction.daily_buyings %></p>
            <p >Net:  <span class="badge">Rs:<%= net = (tot_sell - tot_buy) %> </span></p>
        </div>
        <table id="daily_stocks" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Mode</th>
                    <th>Total Sellings (Rs)</th>
                    <th>Total Buyings (Rs)</th>
                    <th>Net (Rs)</th>
                </tr>
            </thead>
                
            <tbody>
                <% Transaction.modes.keys.each do |mode| obj = instance_variable_get("@#{mode}")%>
                    <tr>
                        <td><%= beautify_display mode %></td>
                        <td><%= obj.amount_sellings %></td>
                        <td><%= obj.amount_buyings %></td>
                        <td><i class="fa fa-chevron-<%= (obj.net_amount > 0) ? 'up text-success' : 'down text-danger' %> " aria-hidden="true"></i>&nbsp;<%= obj.net_amount %> </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    
    
</div>
<hr>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="well">
            <div id="container" style="height: 400px; min-width: 310px"></div>
        </div>
    </div>
</div>



<script type="text/javascript">
/**
 * Create the chart when all data is loaded
 * @returns {undefined}
 */
function createChart() {

    Highcharts.stockChart('container', {

        rangeSelector: {    
            selected: 4
        },

        yAxis: {
            labels: {
                formatter: function () {
                    return (this.value > 0 ? ' + ' : '') + this.value + '%';
                }
            },
            plotLines: [{
                value: 0,
                width: 2,
                color: 'silver'
            }]
        },

        plotOptions: {
            series: {
                compare: 'percent',
                showInNavigator: true
            }
        },

        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
            valueDecimals: 2,
            split: true
        },

        series: d
    });
}

$(function(){
    d = [{name: names[0][0],data: <%= Transaction.order('created_at ASC').with_mode(:cash).pluck(:created_at, :total_amount).map{|c,a|[c.to_date.to_time.to_i*1000,a]} %>},
         {name: names[1][0],data: <%= Transaction.order('created_at ASC').with_mode(:monday_payment).pluck(:created_at, :total_amount).map{|c,a|[c.to_date.to_time.to_i*1000,a]} %>},
         {name: names[2][0],data: <%= Transaction.order('created_at ASC').with_mode(:next_monday_payment).pluck(:created_at, :total_amount).map{|c,a|[c.to_date.to_time.to_i*1000,a]} %>},
         {name: names[3][0],data: <%= Transaction.order('created_at ASC').with_mode(:sop).pluck(:created_at, :total_amount).map{|c,a|[c.to_date.to_time.to_i*1000,a]} %>},
         {name: names[4][0],data: <%= Transaction.order('created_at ASC').with_mode(:bop).pluck(:created_at, :total_amount).map{|c,a|[c.to_date.to_time.to_i*1000,a]} %>},
         {name: names[5][0],data: <%= Transaction.order('created_at ASC').with_mode(:pod).pluck(:created_at, :total_amount).map{|c,a|[c.to_date.to_time.to_i*1000,a]} %>},
    ];
    createChart();
    
});

$(function(){
    $('#daily_stocks').DataTable();
});


</script>

