<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <!-- <p class="navbar-text pull-right">

    </p> -->



    <div id="wrapper">
      <% if user_signed_in? %>
        <%= render 'shared/sidebar' %>

        <div id="page-wrapper">
        <% end %>
        <%= yield %>
        <% if user_signed_in? %>
        </div>
      <% end %>
    </div>
    <!-- /#wrapper -->

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <%= render 'shared/site_modal' %>

  </body>
</html>

